body
{
	text-align: center;
}


h1 
{
	background-color: rgb(202, 202, 202);
	color: rgb(115, 37, 214);
	width: 800px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	margin-top: 50px;
}

textarea
{
	height: 300px;
	margin-bottom: 20px;
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact
{
	color: rgb(115, 37, 214);
	width: 700px;
	padding-left: 20px;
	padding-right: 20px;

}

#expediteur 
{
	height: 30px;
}

#objet
{
	height: 30px;
}

form
{
	color: rgb(153,153,153);
}

#envoyer
{
	margin-top: 0px;
	margin-bottom: 80px;
}



.topbar .HeaderDroite{
    float: right;
}
.topbar img{
    height: 30px;
}
.topbar a{
    padding: 10px;
    text-decoration: none;
    color: #6913D8;
}
.topbar .HeaderGauche{
    float: left;
}
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
}

.topbar a:hover{
    color: black;
}

.topbar,.footer{
    margin-right: 10px;
    margin-left: 10px;
}